/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	max-width: 1440px;
}

body {
	line-height: 1;
	background-color: #FFFEF8;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	
	font-family: 'Work Sans' ;
	font-size: 14px;
}
.blocpage {
	max-width: 1140px;
	margin:auto;
}

.modeEdition {
	height: 30px;
    width: 1440px;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    align-items: center;
	gap: 10px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

a {
	text-decoration: none;
	color: black;
	&&:hover {
		color: #1D6154;
	}
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}
span {
	font-size: 12px;
	position: relative;
    left: 20px;	
}

span:hover {
	cursor: pointer;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
	cursor: pointer;
}
.logout{
	display: none;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio nav {
	display: flex;
	justify-content: center;
	margin: 20px;
}

.filtres {
	display: grid;
	grid-template-columns:100px 100px 160px 200px ;
	gap: 20px;
}

.filtres li {
	
	border: 1px solid #1D6154;
	border-radius: 60px 60px;
	font-size: 16px;
	font-weight: 700;
	color: #1D6154;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center; 
	font-family: "syne";
	&&:hover{
		background-color: #1D6154;
		color: white;
		cursor: pointer;
	}
}

.modifier:hover {
	color: #B1663C;

}


#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery article {
	display: flex;
	flex-wrap: wrap;
	transition-duration: 3s;
}

.gallery img {
	width: 100%;
}
#contact {
	width: 50%;
margin: auto;
}

#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login {
	width: 50%;
margin: auto;
}
#login > * {
	text-align: center;

}
#login h2{
	margin-bottom: 20px;
}
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login label {
	margin: 2em 0 1em 0;
}
#login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	transition-duration: 500ms;
	&&:hover {
		background-color: #B1663C;
		cursor: pointer;
	}
}
.connexion {
	transition-duration: 500ms;
}
.connexion:hover {
	cursor: pointer;
	background-color: #B1663C;
}

#login p {
	text-align: center;
}

.emailerreur {
	display: flex;
    justify-content: center;
    margin: 10px;
    color: red;
    font-weight: 900;
}

.mdperreur {
	display: flex;
    justify-content: center;
    margin: 10px;
    color: red;
    font-weight: 900;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.arti {
	opacity: 1;
	transition: opacity .5s ease;
} 

.fade-out {
	animation: fadeout .5s ease-in-out;
}

@keyframes fadeout {
	0%{
		opacity: 1;
	}
	100% {
		opacity: 0;
	} 
}

.fenetremodale {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.5);
}

/*.fenetremodale.active {
	position: inherit;
	display: flex;
}*/

.contenumodale {
	position: absolute;
    display: flex;
    top: 760px;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 630px;
    height: 680px;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 17px;
    font-weight: 500;
    background-color: #FFFFFF;
    border-radius: 10px;
    z-index: 1;
    flex-direction: column;
    align-content: center;
}

#close {
	color: black;
    display: flex;
	position: relative;
	left: 280px;
}

i:hover {
	cursor: pointer;
}
.contenumodale h2 {
	font-family: inherit;
	font-weight: 400;
}

.titremodale {
	display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.fermeturemodale {
	display: flex;
	margin-top: 15px;
}

.projetsmodale {
	border-bottom: solid 1px #B3B3B3;
    width: 400px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
	margin-bottom: 30px;
	padding-bottom: 50px;
}

.projetsmodale article {
	width: 75px;
	height: 100px;
}

.projetsmodale img {
	width: 100%;
	height: 100%;
}

.projetsmodale i {
	background-color: black;
    border: 2px solid black;
    border-radius: 2px;
    position: relative;
    left: 25px;
    bottom: 100px;
}

.contenumodale button {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	height: 35px;
}

.suppression {
	border: solid 1px black;
    color: black;
    background-color: black;
    height: 10px;
    width: 10px;
}

button:hover {
	cursor: pointer;
	background-color: #B1663C;
}

.fa-arrow-left {
	color: black;
    position: relative;
    right: 270px;
}
.active {
    display: flex !important;
	position: inherit;
}

.ajout {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.ajoutphoto {
width: 420px;
height: 170px;
display: flex;
flex-direction: column;
align-items: center;
background-color: #E8F1F6;
border-radius: 3px;
}

.ajoutphoto img {
	width: 75px;
	height: 75px;
	position: relative;
	top: 20px;
}

.ajoutphoto p {
	color: black;
	font-size: 10px;
	position: relative;
	bottom: 20px;
}

.ajoutphoto button {
	background-color: #CBD6DC;
	color: #306685;
	border: 0;
}

